In [6]:
import pandas as pd

import os
print(os.getcwd())

/home/jasmine/Documents/JupyterProjects/japanese-english-comparision

In [7]:
japanese_10k = pd.read_csv("core10K.csv")
print(japanese_10k.shape)
japanese_10k.head()

(9567, 10)

,Unnamed: 0,#,Kanji,Reading,Definition,Part,Sentence (hide),Translation,6K #,Jisho
0,0,1,一つ,ひとつ,one (thing),noun,それを一[ひと]つください。,Please give me one of those.,2.0,Jisho
1,1,2,一,いち,one,noun,一[いち]から 始[はじ]めましょう。,Let's start from scratch.,3.0,Jisho
2,2,3,一般,いっぱん,"general, common",noun,一般[いっぱん]の 方[かた]はこちらの 席[せき]へどうぞ。,General seating is over here.,1178.0,Jisho
3,3,4,これ,これ,"this, this one",pronoun,これをください。,I'll have this please.,10.0,Jisho
4,4,5,二,に,two,noun,その 人[ひと]には二[に]回[かい] 会[あ]った。,I met that person twice.,4.0,Jisho

In [8]:
count_1w = pd.read_csv("../data/japanese-english-comparision/count_1w.csv", header=None, names=["word", "count"])
print(count_1w.shape)
count_1w["rank"] = count_1w.index + 1
count_1w.head()

(333333, 2)

  word        count  rank
0  the  23135851162     1
1   of  13151942776     2
2  and  12997637966     3
3   to  12136980858     4
4    a   9081174698     5

In [10]:
jap_eng_words = japanese_10k["Definition"].tolist()
eng_words = count_1w["word"].tolist()

In [11]:
common_words = []
for word in eng_words:
    if word in jap_eng_words:
        common_words.append(word)
print(len(common_words))

2112

In [12]:
common_words_df = pd.DataFrame(common_words)
common_words_df.to_csv("../data/japanese-english-comparision/jap_eng_common_10K.csv")

In [13]:
common_words_df.head()

      0
0   you
1   new
2  more
3    we
4  page

In [57]:
common_words_df.rename(columns={0: "word"}, inplace=True)
common_words_df.index.rename("rank", inplace=True)
common_words_df.reset_index(inplace=True)
common_words_df.head()

   rank  word
0     0   you
1     1   new
2     2  more
3     3    we
4     4  page

In [58]:
common_words_df.to_csv("../data/japanese-english-comparision/jap_eng_common.csv")

In [59]:
common_words_df.head()

   rank  word
0     0   you
1     1   new
2     2  more
3     3    we
4     4  page

In [14]:
df=pd.merge(japanese_10k,count_1w, left_on='Definition', right_on='word')

In [15]:
df.head()

,Unnamed: 0,#,Kanji,Reading,Definition,Part,Sentence (hide),Translation,6K #,Jisho,word,count,rank
0,1,2,一,いち,one,noun,一[いち]から 始[はじ]めましょう。,Let's start from scratch.,3.0,Jisho,one,993536631,45
1,4,5,二,に,two,noun,その 人[ひと]には二[に]回[かい] 会[あ]った。,I met that person twice.,4.0,Jisho,two,441398439,116
2,7,8,三,さん,three,noun,彼女[かのじょ]は三[さん]人[にん]の 子供[こども]の 母親[ははおや]だ。,She's a mother of three children.,6.0,Jisho,three,223417394,314
3,12,13,いつ,いつ,when,interrogative,彼女[かのじょ]はいつ来[き]ますか。,When is she coming?,220.0,Jisho,when,650621178,68
4,13,14,五,ご,five,noun,五[ご]人[にん]で 旅行[りょこう]に 行[い]きました。,Five of us went on a trip.,13.0,Jisho,five,104165769,764

In [16]:
df.sort_values(["rank", "#"], inplace=True)
df.reset_index(inplace=True)
df.head()

,index,Unnamed: 0,#,Kanji,Reading,Definition,Part,Sentence (hide),Translation,6K #,Jisho,word,count,rank
0,33,103,104,あなた,あなた,you,pronoun,これはあなたのかばんですか。,Is this your bag?,NaN,Jisho,you,2996181025,15
1,578,1833,1834,君,きみ,you,noun,この 本[ほん]を君[きみ]にあげます。,I'm going to give you this book.,3719.0,Jisho,you,2996181025,15
2,184,637,638,新しい,あたらしい,new,adjective,彼[かれ]の 車[くるま]は新[あたら]しい。,His car is new.,205.0,Jisho,new,1551258643,27
3,28,84,85,もっと,もっと,more,adverb,もっと近[ちか]くに 来[き]てください。,Please come closer.,150.0,Jisho,more,1544771673,28
4,76,261,262,私たち,わたしたち,we,pronoun,私[わたし]たちは 来月[らいげつ] 結婚[けっこん]します。,We will get married next month.,504.0,Jisho,we,1390661912,31

In [17]:
df["overall_rank"] = df.index+1

In [18]:
df.head()

,index,Unnamed: 0,#,Kanji,Reading,Definition,Part,Sentence (hide),Translation,6K #,Jisho,word,count,rank,overall_rank
0,33,103,104,あなた,あなた,you,pronoun,これはあなたのかばんですか。,Is this your bag?,NaN,Jisho,you,2996181025,15,1
1,578,1833,1834,君,きみ,you,noun,この 本[ほん]を君[きみ]にあげます。,I'm going to give you this book.,3719.0,Jisho,you,2996181025,15,2
2,184,637,638,新しい,あたらしい,new,adjective,彼[かれ]の 車[くるま]は新[あたら]しい。,His car is new.,205.0,Jisho,new,1551258643,27,3
3,28,84,85,もっと,もっと,more,adverb,もっと近[ちか]くに 来[き]てください。,Please come closer.,150.0,Jisho,more,1544771673,28,4
4,76,261,262,私たち,わたしたち,we,pronoun,私[わたし]たちは 来月[らいげつ] 結婚[けっこん]します。,We will get married next month.,504.0,Jisho,we,1390661912,31,5

In [19]:
df.rename(columns={
    "Kanji":"kanji", "Reading":"reading", "Part":"word_type_japanese",
    "rank":"rank_english", "count": "count_english",
    "#":"rank_japanese", "Sentence (hide)": "sentence", "Translation": "translation"}, inplace=True)
df.head()

,index,Unnamed: 0,rank_japanese,kanji,reading,Definition,word_type_japanese,Sentence (hide),translation,6K #,Jisho,word,count_english,rank_english,overall_rank
0,33,103,104,あなた,あなた,you,pronoun,これはあなたのかばんですか。,Is this your bag?,NaN,Jisho,you,2996181025,15,1
1,578,1833,1834,君,きみ,you,noun,この 本[ほん]を君[きみ]にあげます。,I'm going to give you this book.,3719.0,Jisho,you,2996181025,15,2
2,184,637,638,新しい,あたらしい,new,adjective,彼[かれ]の 車[くるま]は新[あたら]しい。,His car is new.,205.0,Jisho,new,1551258643,27,3
3,28,84,85,もっと,もっと,more,adverb,もっと近[ちか]くに 来[き]てください。,Please come closer.,150.0,Jisho,more,1544771673,28,4
4,76,261,262,私たち,わたしたち,we,pronoun,私[わたし]たちは 来月[らいげつ] 結婚[けっこん]します。,We will get married next month.,504.0,Jisho,we,1390661912,31,5

In [20]:
df.drop(columns=["index", "Unnamed: 0", "Definition", "Jisho"], inplace=True)

In [21]:
df.head()

,rank_japanese,kanji,reading,word_type_japanese,Sentence (hide),translation,6K #,word,count_english,rank_english,overall_rank
0,104,あなた,あなた,pronoun,これはあなたのかばんですか。,Is this your bag?,NaN,you,2996181025,15,1
1,1834,君,きみ,noun,この 本[ほん]を君[きみ]にあげます。,I'm going to give you this book.,3719.0,you,2996181025,15,2
2,638,新しい,あたらしい,adjective,彼[かれ]の 車[くるま]は新[あたら]しい。,His car is new.,205.0,new,1551258643,27,3
3,85,もっと,もっと,adverb,もっと近[ちか]くに 来[き]てください。,Please come closer.,150.0,more,1544771673,28,4
4,262,私たち,わたしたち,pronoun,私[わたし]たちは 来月[らいげつ] 結婚[けっこん]します。,We will get married next month.,504.0,we,1390661912,31,5

In [27]:
df.drop(columns=["translation"], inplace=True)

In [28]:
print(df.columns.tolist())

['rank_japanese', 'kanji', 'reading', 'word_type_japanese', 'word', 'count_english', 'rank_english', 'overall_rank']

In [29]:
df2 = df.copy()
df2.head()

,rank_japanese,kanji,reading,word_type_japanese,word,count_english,rank_english,overall_rank
0,104,あなた,あなた,pronoun,you,2996181025,15,1
1,1834,君,きみ,noun,you,2996181025,15,2
2,638,新しい,あたらしい,adjective,new,1551258643,27,3
3,85,もっと,もっと,adverb,more,1544771673,28,4
4,262,私たち,わたしたち,pronoun,we,1390661912,31,5

In [31]:
df2 = df2[["word", "kanji", "reading", "overall_rank", "rank_english", "rank_japanese",
           "count_english", "word_type_japanese"]]

In [32]:
df2.head()

,word,kanji,reading,overall_rank,rank_english,rank_japanese,count_english,word_type_japanese
0,you,あなた,あなた,1,15,104,2996181025,pronoun
1,you,君,きみ,2,15,1834,2996181025,noun
2,new,新しい,あたらしい,3,27,638,1551258643,adjective
3,more,もっと,もっと,4,28,85,1544771673,adverb
4,we,私たち,わたしたち,5,31,262,1390661912,pronoun

In [33]:
df2.to_csv("jap_eng_common_long.csv")

In [34]:
print(len(df2))

2434